:root {
  /*HOACC THEME*/
  --hoacc-white: #fff;
  --hoacc-pink: #fcbbbb;
  --hoacc-orange: #ffe1c2;
  --hoacc-yellow: #fff7bf;
  --hoacc-teal: #b4fdfd;
  --hoacc-light-blue: #c6eafe;
  --hoacc-blue: #99dbff;
  --hoacc-gray: #bfbfbf;
}

a{
  color:var(--hoacc-teal)
}
body{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.header{
    padding-top:100px;
    background-color: #99dbff;
}

.header-text{
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
    margin-left: 150px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    color: #fff;

    text-align: center;
}

#services{
   padding:4em 0;
}

#photos{
  background-color: var(--hoacc-pink) !important;
}
.ed-header-images{
  width:25% !important;
  display: flex;
}

.ed-header{
  flex-direction: row;
}

#policies{
  background-color: var(--hoacc-orange) !important;
}
.about-btn{
  background-color: var(--hoacc-blue);
  color:#000;
  border: 1px solid var(--hoacc-blue);
}
 .about-btn:focus {
  background-color: var(--hoacc-blue);
  color:#000;
  border: 1px solid var(--hoacc-blue);
  /* box-shadow: 0 0 0 0.25rem rgba(255, 208, 38, 0.5); */
}
#footer{
  background-color: #000 !important;
  color: #fff;
}

#about{
    background-color: #fff;
}

/*   About the Team Paragraph Toggle*/
input[type=checkbox] {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
  
  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  
  input:focus ~ label {
    outline: -webkit-focus-ring-color auto 5px;
  }
  
  input:checked + p {
    -webkit-line-clamp: unset;
  }
  
  input:checked ~ label,
  p:not(.truncated) ~ label{
    display: none;
  }
  
  .main-img{
    margin-left:100px;
    width:546px;
    height: 546px;
  }

  .overlay {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
  }
  .overlay::after {
    content: "";
    position: absolute;
    width: 300%;
    height: 300%;
    top: -25%;
    left: -100%;
    background: radial-gradient(ellipse at center, rgba(255,0,0,0) 0%,rgba(255,0,0,0) 50%,rgba(255,0,0,1) 50%,rgba(255,0,0,1) 100%);
  }
  .overlay>img { display: block; }

.group-photo{
  padding-bottom:20px
}
  .team-img-size{
    height:200px;
  }
.event-img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
  .event-img:hover{
opacity: 0.8;
background-color: #000;
box-shadow: 5px 5px #99DBFF
  }
  
  section#contact form#contactForm .form-group input, section#contact form#contactForm .form-group textarea {
    padding: 1.25rem;
    border: none;
}

@media all and (max-width: 600px) {
    .header-text{
        margin-left: 0;
    }
    .main-img-margin{
      margin-left:0px;
    }
    .ed-header{
      display: flex;
      flex-direction: column;
    }
    .ed-header .ed-header-images{
      width:100% !important;
      height:200px;
    }
    
  }

#alert-dialog-description{
  height:100%!important;
}

#bio-info div.MuiPaper-root{
  height:100%!important;
}

#alert-dialog-description{
  overflow-y: auto;
}
  .top-image{
    height:400px;
  }

  #steampunk{
    background-color: #212529!important;
    color: #FFF
  }

  #donate{
    padding-top:1rem
  }